@use "../../../../styles/colors" as c;
.heat-calendar-cell,
.heat-calendar-legend {
    border: none;
    width: 16px !important;
    height: 16px !important;
    border-radius: 2px;
    outline: 1px solid c.$blue1;
    outline-offset: -1px;
    background-color: c.$blue0;
}
.heat-calendar-cell:hover:not(.disabled), 
.heat-calendar-cell:focus:not(.disabled) {
    background-color: c.$blue1;
    outline: 1px solid c.$blue4;
    outline-offset: 0;
}