.heat-calendar-container {
    width: 100%;
    text-align: center;
    padding: 16px
}
.heat-calendar {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 4px;
    overflow: hidden;
    position: relative;
    width: max-content;
    border-collapse: collapse;
    td {
        padding: 2px;
    }
    th {
        text-align: left;
    }
}
.legends {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    margin-top: 16px;
}
.legend {
    margin-right: 16px ;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.label-column {
    text-transform: capitalize;
    width: 64px
}
.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px
}
.paginator-button {
    width: 32px;
    height: 32px;
    background-color: #dbf0fa;
    border-radius: 50%;
    border: none;
    outline: 1px solid #c4e7f7;
    outline-offset: -1px;
    
}
.paginator-button:hover:not(:disabled), .paginator-button:focus:not(:disabled) {
    background-color: #c4e7f7;
    outline: 1px solid #527c90;
    outline-offset: 0;
    font-weight: bolder;
}