.calendar-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}
.heat-calendar {
    margin-top: 32px; //FIXME: Unnecessary margin value, put there until a solution is found 
    //for tooltips getting clipped by .calendar-container's overflow-x: auto property.
    margin-left: auto;
    margin-right: auto;
    border-spacing: 4px;
    overflow-x: hidden;
    position: relative;
    width: max-content;
    border-collapse: collapse;
    td {
        padding: 2px;
    }
    th {
        text-align: left;
    }
}
.legends {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-bottom: 16px;
    margin-top: 16px;
}
.legend {
    margin-right: 16px ;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    white-space: nowrap;
    max-width: 100%;
    min-width: 140px;
}
.label-column {
    text-transform: capitalize;
    width: 64px
}
@media only screen and (max-width: 930px) {
    .responsive-hidden {
        display: none;
    }
}