<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
  :host {
    font-family: 'Montserrat', "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<main class="main">
  <div class="app-header">
    <app-dropdown 
      label="locale"
      [options]="locale.localeOptions"
      [defaultValue]="locale.defaultOption.value"
      (onSelect)="onLocaleChange($event)"
    ></app-dropdown>
  </div>
  <router-outlet />
</main>